@font-face {
  font-family: "Thin";
  src: url("../styles/fonts/Inter-Thin.ttf");
}

@font-face {
  font-family: "ExtraLight";
  src: url("../styles/fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "InterLight";
  src: url("../styles/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "InterRegular";
  src: url("../styles/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterMedium";
  src: url("../styles/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "InterSemiBold";
  src: url("../styles/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "InterBold";
  src: url("../styles/fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "InterExtraBold";
  src: url("../styles/fonts/Inter-Bold.ttf");
}
