@import "./fonts";
@import "./colors";
@import "./media-queries";

.aboutWrapper {
  min-height: 100vh;
  background-color: $black;
  display: flex;
  .aboutLeftBlock {
    width: 40%;
  }
  .aboutRightBlock {
    width: 60%;
    background-image: url("../public//about_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 2% 100%);
  }

  @include from768to1023 {
    .aboutLeftBlock {
      width: 100%;
    }
    .aboutRightBlock {
      display: none;
    }
  }
  @include from481to620 {
    .aboutLeftBlock {
      width: 100%;
    }
    .aboutRightBlock {
      display: none;
    }
  }
  @include from320to480 {
    .aboutLeftBlock {
      width: 100%;
    }
    .aboutRightBlock {
      display: none;
    }
  }
}

.aboutDescription {
  position: absolute;
  top: 10rem;
  bottom: 0;
  width: 50%;
  h2 {
    margin-top: 0;
    font-family: "ExtraLight";
    padding: 0 2rem;
    font-size: 6rem;
  }
  p {
    width: 96%;
    padding: 0 2rem;
    padding-top: 3rem;
    font-size: 2.5rem;
    line-height: 5rem;
    font-family: "InterLight";
  }
  @include from1640 {
    top: 15rem;
    h2 {
      font-size: 7rem;
    }
    p {
      font-size: 4rem;
      padding-right: 8rem;
      line-height: 6.5rem;
    }
  }
  @include from1023to1280 {
    top: 15rem;

    h2 {
      font-size: 4.2rem;
    }
    p {
      padding-right: 8rem;
      font-size: 2.2rem;
      line-height: 3.8rem;
      font-family: "InterLight";
    }
  }
  @include from768to1023 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      padding-left: 8rem;
    }
    p {
      padding-right: 8rem;
      font-size: 2.5rem;
      line-height: 4rem;
      font-family: "InterLight";
    }
  }
  @include from481to620 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      margin-top: 20rem;
      font-size: 4rem;
    }
    p {
      width: 90%;
      padding-right: 0.1rem;
      font-size: 3rem;
      line-height: 5rem;
    }
  }
  @include from320to480 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      width: 100%;
      margin-top: 4rem;
      font-size: 2.5rem;
      padding-left: 7%;
    }
    p {
      padding-top: 1%;
      padding-bottom: 2%;
      padding-left: 7%;
      width: 80%;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
