@import "./media-queries";
@import "./colors";

.footer {
  height: 4vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f;
  font-size: 1.2rem;
  padding: 0 1rem;
  span {
    margin: 0 0.5rem;
    color: $lightred;
    font-size: 1.4rem;
  }
  ul {
    display: flex;
    li {
      margin: 0 0.5rem;
    }
  }

  @include from621to767 {
    font-size: 0.8rem;
    justify-content: space-between;
    span {
      margin: 0 0.1rem;
    }
    ul {
      li {
        margin: 0 0.3rem;
      }
    }
  }
  @include from481to620 {
    font-size: 0.8rem;
    justify-content: space-between;
    span {
      margin: 0 0.1rem;
    }
    ul {
      li {
        margin: 0 0.3rem;
      }
    }
  }
  @include from320to480 {
    font-size: 0.8rem;
    justify-content: space-between;
    span {
      margin: 0 0.1rem;
      font-size: 1.2rem;
    }
    ul {
      li {
        margin: 0 0.3rem;
      }
    }
  }
}
