@import "./fonts";
@import "./colors";
@import "./media-queries";

.productWrapper {
  min-height: 84vh;
  margin-top: 10rem;
  margin-left: 14rem;
  margin-right: 14rem;
  .productGrid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 32% 64%;
    position: relative;
    .productBuyWrapper {
      border: 1px solid rgb(97, 97, 97);
      position: absolute;
      top: 0;
      right: 0;
      width: 22rem;
      height: 16rem;
      display: flex;
      flex-direction: column;
      font-family: "InterSemiBold";
      .productBuyHeadline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(97, 97, 97);
        padding: 1rem;
        span {
          display: block;
          font-size: 1.5rem;
        }
      }
      .productBuyPrice {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(97, 97, 97);
        padding: 1rem;
        span {
          display: block;
          font-size: 1.5rem;
        }
      }
      .productBuyButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        button {
          width: 90%;
          height: 4rem;
          background-color: #f8604c;
          color: $white;
          font-size: medium;
          &:hover {
            background-color: transparent;
            border: 1px solid $lightred;
            color: $lightred;
          }
        }
      }
    }
    .productImage {
      position: relative;
      .zoomIcon {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10rem;
        height: 10rem;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-image: url("../public/zoomIcon.png");
        background-size: contain;
        opacity: 0.7;
        z-index: 1000;
        cursor: pointer;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
      }
      img {
        width: 100%;
        height: 54rem;
        cursor: pointer;
      }
      &:hover {
        .zoomIcon {
          display: block;
        }
      }
    }
    .productContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 25px 0;
      .productHeadline {
        h2 {
          font-size: 4.5rem;
          font-family: "ExtraLight";
          margin: 0;
          color: $white;
          width: 60%;
        }
        h4 {
          padding: 1rem;
          font-family: "InterLight";
          font-size: 1.6rem;
          width: 62%;
          border-bottom: 1px solid $white;
          span {
            font-size: 1.6rem;
            font-family: "ExtraLight";
            padding-left: 5px;
          }
        }
      }
      .youtubeLink {
        height: 27.6rem;
        width: 50rem;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .backButton {
    margin-bottom: 3rem;
    button {
      width: 15rem;
      height: 5rem;
      border: none;
      outline: none;
      background: transparent;
      color: $white;
      font-size: 1.6rem;
      font-family: "InterRegular";
      border: 2px solid $white;
      &:hover {
        border: 2px solid $lightred;
        color: $lightred;
        font-size: 1.7rem;
      }
    }
  }
  @include from1640 {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 16rem;
    .productGrid {
      margin-top: 10rem;
      .productBuyWrapper {
        top: -18%;
        right: 0;
      }
      .productContent {
        .productHeadline {
          h2 {
            width: 70%;
            font-size: 6.8rem;
          }
          h4 {
            font-size: 1.5rem;
            width: 70%;
            span {
              font-size: 1.5rem;
            }
          }
        }
        .youtubeLink {
          width: 70%;
        }
      }
    }
  }

  @include from1023to1280 {
    margin-top: 16rem;
    margin-left: 4rem;
    margin-right: 4rem;
    .productGrid {
      margin-top: 4rem;
      grid-template-columns: 40% 40%;
      justify-content: center;
      grid-gap: 1rem;
      .productBuyWrapper {
        border: none;
        top: -18%;
        right: 0;
        height: 5rem;
        .productBuyHeadline {
          display: none;
        }
        .productBuyPrice {
          display: none;
        }
        .productBuyButton {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          button {
            width: 80%;
            height: 4.6rem;
          }
        }
      }
      .productImage {
        .zoomIcon {
          left: 45%;
          top: 45%;
          width: 10rem;
          height: 10rem;
          -webkit-transform: translateX(-45) 45 translateY(-45) 54;
          transform: translateX(-45) 45 translateY(-45) 54;
          -moz-transform: translateX(-45) 45 translateY(-45) 54;
          -ms-transform: translateX(-45) 45 translateY(-45) 54;
          -o-transform: translateX(-45) 45 translateY(-45) 54;
        }
      }
      .productContent {
        .productHeadline {
          h2 {
            width: 100%;
            font-size: 6.8rem;
          }
          h4 {
            font-size: 1.5rem;
            width: 100%;
            span {
              font-size: 1.5rem;
            }
          }
        }
        .youtubeLink {
          width: 100%;
        }
      }
    }
  }

  @include from768to1023 {
    margin-top: 16rem;
    margin-left: 2rem;
    margin-right: 2rem;
    .productGrid {
      margin-top: 5rem;
      grid-template-columns: 50% 50%;
      .productBuyWrapper {
        border: none;
        top: 45%;
        right: 10%;
        height: 5rem;
        .productBuyHeadline {
          display: none;
        }
        .productBuyPrice {
          display: none;
        }
        .productBuyButton {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          button {
            width: 100%;
            height: 5rem;
          }
        }
      }
      .productContent {
        padding-left: 1rem;
        .productHeadline {
          h2 {
            margin-top: 1rem;
            width: 100%;
            font-size: 5rem;
          }
          h4 {
            width: 100%;
          }
        }
        .youtubeLink {
          margin-top: -5%;
          width: 100%;
          height: 20rem;
        }
      }
    }
  }

  @include from621to767 {
    margin-top: 16rem;
    margin-left: 2rem;
    margin-right: 2rem;
    .productGrid {
      margin-top: 5rem;
      grid-template-columns: 100%;
      .productBuyWrapper {
        top: -10rem;
        right: 1rem;
        width: 30rem;
      }
      .productImage {
        margin-top: 8rem;
      }
      .productContent {
        padding-left: 0.1rem;
        .productHeadline {
          h2 {
            margin-top: 5rem;
            font-size: 7rem;
          }
          h4 {
            width: 100%;
          }
        }
        .youtubeLink {
          width: 62rem;
          height: 30rem;
        }
      }
    }
  }

  @include from481to620 {
    margin-top: 16rem;
    margin-left: 2rem;
    margin-right: 2rem;
    .productGrid {
      margin-top: 5rem;
      grid-template-columns: 100%;
      .productBuyWrapper {
        top: -10rem;
        right: 1rem;
        width: 30rem;
      }
      .productImage {
        margin-top: 8rem;
      }
      .productContent {
        padding-left: 0.1rem;
        .productHeadline {
          h2 {
            margin-top: 5rem;
            font-size: 7rem;
          }
          h4 {
            width: 100%;
          }
        }
        .youtubeLink {
          width: 62rem;
          height: 30rem;
        }
      }
    }
  }

  @include from320to480 {
    margin-top: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;
    .productGrid {
      margin-top: 4rem;
      grid-template-columns: 100%;
      .productBuyWrapper {
        top: 105%;
        width: 100%;
      }
      .productContent {
        padding-left: 0.1rem;
        .productHeadline {
          h2 {
            margin-top: 5rem;
            font-size: 4rem;
          }
          h4 {
            width: 100%;
          }
        }
        .youtubeLink {
          width: 100%;
          height: 18rem;
        }
      }
      .productImage {
        &:hover {
          .zoomIcon {
            display: none;
          }
        }
      }
    }
  }
}

.modalImageWrapper {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
