@import "./fonts";
@import "./colors";
@import "./media-queries";

.successPageWrapper {
  height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  .successPageContent {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .successImageBlock {
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      .successIcon {
        width: 12rem;
        height: 12rem;
        background-image: url("../public/success.png");
        background-size: contain;
      }
    }
    .successMessageBlock {
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 6rem;
        font-family: "InterLight";
        color: $white;
      }
      p {
        font-size: 2.4rem;
        font-family: "InterMedium";
      }
    }
    .backHomeBlock {
      height: 10%;
      display: flex;
      justify-content: center;
      button {
        width: 40%;
        height: 100%;
        background-color: #f8604c;
        color: $white;
        font-size: large;
        &:hover {
          background-color: transparent;
          border: 1px solid $lightred;
          color: $lightred;
        }
      }
    }
  }
  @include from1023to1280 {
    .successMessageBlock {
      p {
        text-align: center;
        line-height: 4rem;
      }
    }
  }
  @include from768to1023 {
    .successMessageBlock {
      p {
        text-align: center;
        line-height: 4rem;
      }
    }
  }
  @include from320to480 {
    .successPageContent {
      width: 90%;
      height: 80%;
      .successImageBlock {
        .successIcon {
          width: 8rem;
          height: 8rem;
        }
      }
      .successMessageBlock {
        height: 50%;
        h2 {
          font-size: 3rem;
          color: #2bb673;
        }
        p {
          font-size: 1.7rem;
          text-align: center;
          line-height: 3rem;
        }
      }
      .backHomeBlock {
        button {
          width: 80%;
        }
      }
    }
  }
}
